.exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1250px;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.header__text {
  width: 316px;
  height: 45px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.3px;
  margin-left: 25px;
}
.more {
  width: 144px;
  height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  justify-self: flex-end;
}
.exercises {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}
